#switch-btn {
  .tips-box {
    .tips-arrow {
      border-bottom: 0px solid #000 !important;
      border-top: 6px solid #000 !important;
        top: -50px !important;
    }
    .tips-inner {
      width: 225px !important;
      left: -80px !important;
      top: -80px !important;
      li {
        float: left !important;
      }
      li:nth-child(1),
      li:nth-child(2) {
        width: 42px !important;
      }
      li:nth-child(3),
      li:nth-child(4) {
        width: 70px !important;
      }
    }
  }
}
